series: [{
    text: '1',
    legendMarker: {
      backgroundColor: '#7FCDBB',
    },
    values: [
      0.172805,
      0.066306,
      0.035681,
      0.014558,
      0.012689,
      0.008888,
      0.007435,
      0.005509,
      0.001368,
      0.000551,
      0.000213,
      -0.001763,
      -0.003873,
      -0.012709,
      -0.020928,
      -0.033387
    ]}
  ],

  {
    text: '0.67 to 1',
    values: [
      2, 3, 5, 6, 5, 6, 5, 6, 5, 6, 6, 6, 6, 5, 6, 5, 6, 4, 5, 4, 4, 4,
    ],
    legendMarker: {
      backgroundColor: '#081D58',
    },
  },
  
  {
    text: '0.33 to 0.67',
    values: [
      3, 2, 3, 2, 3, 3, 4, 4, 4, 5, 5, 5, 5, 4, 4, 5, 4, 3, 2, 3, 4, 4,
    ],
    legendMarker: {
      backgroundColor: '#253494',
    },
  },
  {
    text: '0 to 0.33',
    values: [
      2, 3, 3, 2, 3, 3, 3, 4, 5, 4, 4, 5, 4, 4, 5, 4, 4, 3, 3, 3, 3, 3,
    ],
    legendMarker: {
      backgroundColor: '#225EA8',
    },
  },
  {
    text: '-0.33 to 0',
    values: [
      2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 2,
    ],
    legendMarker: {
      backgroundColor: '#1D91C0',
    },
  },
  
  
  {
    text: '-0.67 to -0.33',
    values: [
      2, 2, 2, 2, 2, 2, 3, 3, 3, 2, 2, 3, 3, 3, 3, 2, 2, 2, 2, 1, 2, 3,
    ],
    legendMarker: {
      backgroundColor: '#41B6C4',
    },
  },
  {
    text: '-1 to -0.67',
    values: [
    0.172805,
    0.066306,
    0.035681,
    0.014558,
    0.012689,
    0.008888,
    0.007435,
    0.005509,
    0.001368,
    0.000551,
    0.000213,
    -0.001763,
    -0.003873,
    -0.012709,
    -0.020928,
    -0.033387,
    ],
    legendMarker: {
      backgroundColor: '#7FCDBB',
    },
  }
  

  {% for airbag in airbags %}
        
                      <option value="{{ airbag }}" class="select">{{ airbag }}</option>
                      
                      {% endfor %}


                      {% for prod_year in prod_years %}

                      <option value="{{ prod_year }}" class="select">{{ prod_year }}</option>
                      
                      {% endfor %}

                      {% for cylinder in cylinders %}
    
                  <option value="{{ cylinder }}" class="select">{{ cylinder }}</option>
                  
                  {% endfor %}
